{% extends '_base.html' %}

{% block title %}About page{% endblock %}
{% block description %}{{ config.about | truncatewords:70 }}{% endblock %}


{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="bradcumbContent">
        <h2>About Us</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<section class="about-us-area mt-50 section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>The Best</span>
                    <h3>We are GMSA (UCC)</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 wow fadeInUp" data-wow-delay="400ms">
                <p>{{ config.about }}</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                    {% for image in images %}
                    <img style="object-fit: cover; max-height: 70vh;" src="{{ image.image.url }}" alt="">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Us Area End ##### -->

<!-- ##### Team Area Start ##### -->
<section class="teachers-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>The Best</span>
                    <h3>Meet the Executives</h3>
                </div>
            </div>
        </div>

        <div class="row">
            {% for executive in executives %}
            <!-- Single Teachers -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Thumbnail -->
                    <div class="teachers-thumbnail">
                        <img src="{{ executive.picture.url }}" alt="">
                    </div>
                    <!-- Meta Info -->
                    <div class="teachers-info mt-30">
                        <h5>{{ executive.name }}</h5>
                        <span>{{ executive.executive_role }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <div class="row">
            <div class="col-12">
                <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                    <a href="{% url 'executive-list' %}" class="btn academy-btn">All Executives</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Features Area Start ##### -->
{% endblock content %}